.row{
    margin-top:50px;
}
.left-banner{
    border-top: 1px solid red;
    /* width: 20%; */
}
.left-banner div{
    margin-top: 40px;
}
.center-banner{
    margin: 40px 20px 0px 20px;
    justify-content: center;
    align-items: center;
}
.center-banner-top img{
    height: 352px;
    width: 100%;
    object-fit: fill;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    border:2px solid #fff;
}
.center-banner-bottom{
    display: flex;
    margin-top: 30px;
}
.center-banner-bottom img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    border:2px solid #fff;
}
.right-banner{
    border-top: 1px solid red;
    /* width: 30%; */
}
.right-banner-items{
    margin-top: 40px;
}
.right-banner img{
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    border:2px solid #fff;
    width: 100%;
}
