.row{
    margin-top:50px;
}
.left-banner{
    border-top: 1px solid red;
    /* width: 20%; */
}
.left-banner div{
    margin-top: 40px;
}
.center-banner{
    margin: 40px 20px 0px 20px;
    justify-content: center;
    align-items: center;
}
.center-banner-top img{
    height: 352px;
    width: 100%;
    object-fit: fill;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.center-banner-bottom{
    display: flex;
    margin-top: 30px;
}
.center-banner-bottom img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* width: 100%; */
}
.right-banner{
    border-top: 1px solid red;
    /* width: 30%; */
}
.right-banner-items{
    margin-top: 40px;
}
.right-banner img{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
}
.items-content{
    display: flex;
    border-top: 1px solid gray;
    margin: 0px 30px 30px 0px;
}
.items-content img{
    margin: 40px 40px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.items-content div{
    justify-content: center;
    align-items: center;
    margin: 40px 40px 0px 0px;
}
.main-content{
    margin:50px 70px 0px 70px;
    border-top: 1px solid red;
    color: red;
    font-size: 24px;
}
.right-banner-items div{
    margin-top: 20px;
}
.center-banner-bottom div div{
    margin-top: 20px;
}
.center-banner-top div{
    margin-top: 20px;
}
.introduce{
    border-top: 1px solid red;
    color: red;
    font-size: 24px;
    margin-top: 50px;
}
.left-introduce img{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
}
.left-introduce div{
    text-transform: uppercase; font-weight:bold; font-size:20px;
    margin-top: 20px;
}

.right-introduce-items{
    display: flex;
}
.right-introduce img{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 0px 20px 10px 20px;
}
@media only screen and (max-width: 768px) {
    .main-content{
        margin: 50px 40px 0px 40px;
    }
}
@media only screen and (max-width: 610px) {
    .main-content{
        margin: 50px 20px 0px 30px;
    }
}
.center-banner-top:hover{
    cursor: pointer;
}
@media only screen and (max-width: 429px) {
    .center-banner-bottom{
        display: unset;
        margin-top: 30px;
    }
    .center-banner-bottom div{
        margin-top: 10px;
    }
}
/* .items-left-banner{
    border: 1px solid black; */
}