.main-footer{
    background-color: #424040;
    display: flex;
    height: auto;
    padding: 10px 40px 0px 40px;
    border-top: 5px solid red;
}
.footer-left{
    width: 50%;
}
.footer-right{
    width: 50%;
    list-style: none;
}
@media only screen and (max-width: 767px) {
    .main-footer{
        display:block;
    }
    .footer-left{
        width: 100%;
        margin-left: 25px;
    }
    .footer-right{
        width: 100%;
    }
}
.footer-left img{
    height: 100%;
    object-fit: contain;
    width: 100%;
    align-self: center;
    display: flex;
    height: 80px;
    margin-right: 60px;
    width: 200px;
}