h1 {
    color:red;
    background: rgb(38, 95, 117);
}

.font-other {
    font-weight: 400;
}
p#classic-color {
    color: blue!important;
}
#classic-color {
    color: violet;
}
.mau-vang {
    font-weight: 800;
    color: yellow;
}
p.mau-vang {

}
div p.mau-vang {

}

ul li:nth-child(2) {
    color: red;
}
[class] {
    color: red;
}
* {
    color: chocolate;
}

p.ok {
    color: antiquewhite;
}

p.the2 {
    background: aqua;
}