.item-card img {
    width: 100%;
}
@media only screen and (min-width: 1025px) {
    .width-col-cate{
        width: 20%;
    }
  }
.name-category{
    font-size: 22px;
    border-top: 2px solid black;
    margin: 10px 20px 0px 20px;
    color: red;
}