.item-card img {
    width: 100%;
}
@media only screen and (min-width: 1025px) {
    .width-col-cate{
        width: 20%;
    }
  }
.name-category{
    font-size: 22px;
    border-top: 2px solid black;
    margin: 60px 20px 0px 20px;
    color: red;
}
.item-card{
    margin:40px 0px 40px 0px;
    background-color:gray;
}
.more:hover{
    cursor: pointer;
    color: red;
}
@media only screen and (max-width: 572px) {
    .item-card{
        margin: 40px 40px 0px 40px;
    }
}
.name{
    color:tomato;
}
.all-product{
    margin-top: 40px;
}
.gg{
    height: 80px;
}
.item-card div{
    text-align: center;
}
.des{
    display: none;
}