.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.slide-button {
  width: 50px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(216, 216, 215);
  position: relative;
}

.slide-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(205, 156, 72);
}

.slide-button.off::before {
  transform: translate(0px, -5px);
}

.slide-button.on {
  background-color: rgb(205, 156, 72);
}

.slide-button.on::before {
  transform: translate(30px, -5px);
}
.product-thumbnail{
  width: 100%;
  height: 200px;
  margin-top: 30px;
}
.product-thumbnail img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.logo{
  width: 20%;
}
.col-12{
  display: flex;
  justify-content: flex-end;
}
.product-title{
  font-size: 18px;
  text-align: center;
  height: 120px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif;
}
.product-detail {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.product-rating {
    font-size: 14px
}
.product-category{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: red;
}
.product-price{
  text-align: center;
  color: red;
}
.product-price::after{
  content: "$";
}
.category-list{
  border: 1px solid black;
  height: 200px;
  padding-top: 20px;
  text-transform: uppercase;
}