
.topbar{
    height: 89px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar-left{
    display: flex;
    width: 70%;
    margin-left: 40px;
}
.topbar-right{
    display: flex;
    width: 30%;
}
.topbar-right ul{
    list-style: none;
    display: flex;
    width: 100%;
   
}
.topbar-right li{
    flex-grow: 1;
    margin: 10px 0;
    line-height: 20px;
    border-left: 1px solid gray;
    padding-left: 20px;
}
ul.topbar-right-items li:hover{
    cursor: pointer;
}
@media only screen and (max-width: 806px){
    .topbar-right{
        display: none;
    }
    .topbar-left{
        justify-content: flex-start;
        margin: 0px;
    }
}

